.nav-bar {
    background-color: #f509e5;
    padding: .1em;
    color: #ffffff;
    font-size: 1.7em;
    font-weight: 700;
    border: 1em;
    /* border-color: red; */
    border-style: solid;
}
body {
    margin: 1cm;
}



h4 > li {
    font-size: smaller;
}

#helpfulTips {
    color: #f509e5;
}

/* 
utilize the CSS Box Model for padding, margin, and border
utilize a color scheme (max. 4 colors)
1+ class selector
1+ ID selector
1+ complex selector
*/